<!--
SPDX-FileCopyrightText: 2026 Contributors to the T-Rust project

This program and the accompanying materials are made available under
the terms of the Apache License Version 2.0 which is available at
https://www.apache.org/licenses/LICENSE-2.0

SPDX-FileType: SOURCE
SPDX-License-Identifier: Apache-2.0
-->

<footer id="footer">
    <div class="container">

        <div class="col-md-4 col-sm-6">
            <h4>More</h4>
            <ul>
                <li>
                    <a href="https://github.com/t-rust-org" title="Visit us on GitHub" target="_blank">
                        <i class='fab fa-github'></i>
                        GitHub Repository</a>
                </li>
            </ul>

            <hr class="hidden-md hidden-lg hidden-sm">

        </div>
        <!-- /.col-md-4 -->

        <div class="col-md-4 col-sm-6">
            <h4>Supported by</h4>
            <ul>
                <li>
                    <a href="https://nlnet.nl/" target="_blank">NLnet Foundation</a>
                </li>
                <li>
                    <a href="https://digital-strategy.ec.europa.eu/en/policies/next-generation-internet-initiative"
                        target="_blank">EU Next Generation Internet initiative</a>
                </li>
                <li>
                    <a href="https://www.sbfi.admin.ch/de" target="_blank">Swiss SERI</a>
                </li>
            </ul>
            <hr class="hidden-md hidden-lg">
        </div>
        <!-- /.col-md-4 -->

        <div class="col-md-4 col-sm-6">
            <h4>Collaboration Partners</h4>
            <ul>
                <li>
                    <a href="https://aboutcode.org/" target="_blank">AboutCode - FOSS for FOSS</a>
                </li>
            </ul>
            <hr class="hidden-md hidden-lg">
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.container -->
</footer>

<!-- /#footer -->